:root{
    --color-texto-imagen-presentacion: rgb(255,206,104);
}

*{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Geneva, Tahoma, sans-serif;
}


body{
    height: 100vh;
    display: flex;
    background-color: rgb(232, 251, 251);
}

header{
    width: 100%;
    height: 100%;
    
    background-image: url('./Assets/Imagenes/Imagen\ Presentacion.svg');
}

nav{
    width: 100%;
    /* border: 1px solid black; */
    height: 18vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 1vw;
    
}

#Contenedor-Logo-Titulo{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 20%;
    height: 100%;
    /* border: 1px solid black; */
    margin-right: 44vw;
}

#Logo-Nav{
    width: 30%;
    height:80%;
    background-image: url("Assets/Imagenes/Logo.svg");
    background-size: contain;
    /* border: 1px solid black; */
}

#Titulo-Pag{
    font-size: 1.3vw;
    width: 60%;
    text-align: left;
    /* border: 1px solid black; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    line-height: 1.8vw;
    color: rgb(80,0,0);
    padding-left: 1.2vw;
}


.boton-barra-navegacion{
    font-size: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 0.5vw;
    max-width: 12%;
    height: 60%;
    border: 2px solid rgb(80,0,0);
    color: rgb(80,0,0);
    transition:all cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.3s;
    position: relative;
}


.boton-barra-navegacion::after{
    content:'';
    position:absolute;
    background-color: rgb(80,0,0);
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    transition:all cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.3s;
    z-index: -1;
    /* border-radius: 1vw; */
}

.boton-barra-navegacion:hover{
    color: var(--color-texto-imagen-presentacion);
    cursor: default;
}

.boton-barra-navegacion:hover::after{
    width:100%;
}

.lista-opciones-desplegables{
    position: absolute;
    list-style-type: none;
    list-style: none;

    transition:all cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.3s;
    visibility: hidden;
    max-height: 0;
}

.lista-opciones-desplegables li{
    width: 20vw;
    background-color: rgb(80,0,0);
    color: var(--color-texto-imagen-presentacion);
    font-size: 0.9vw;
    padding: 0.8vw 0 0.8vw 0.6vw;    
    /* border: 1px solid var(--color-texto-imagen-presentacion); */
    border-collapse: collapse;
    cursor:pointer;
    border-bottom: 2px solid rgb(232, 251, 251);
    border-left: 2px solid rgb(232, 251, 251);
    border-right: 2px solid rgb(232, 251, 251);
}

.lista-opciones-desplegables li:first-child{
    border-top: 2px solid rgb(232, 251, 251);
}


#opciones-CPP{
    top:14.4vh;
    left: 57.75vw;
}

#opciones-DH{
    top:14.4vh;
    left: 70.35vw;
}

#opciones-EE{
    top:14.4vh;
    left: 78.4vw;
}


.boton-barra-navegacion:hover + .lista-opciones-desplegables, .lista-opciones-desplegables:hover{
    animation-name: desplegar;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-delay: 0.4s;
    animation-iteration-count: infinite;
}




@keyframes desplegar{
    
    0%{
        visibility: visible;
    }

    100%{
        visibility: visible;
    }

}
